{% extends "main_page.html" %}
{% block MAIN_PAGE %}
<div>
  <h4> Do you want to delete this entry?</h4>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> name </th>
        <th scope="col"> State Name </th>
        <th scope="col"> sovereign </th>
        <th scope="col"> name A-2 </th>
        <th scope="col"> name A-3 </th>
        <th scope="col"> iso number </th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"> {{ country.name }} </td>
        <td scope="row"> {{ country.stateName }} </td>
        <td scope="row"> {{ country.sovereign }} </td>
        <td scope="row"> {{ country.A_2 }}</td>
        <td scope="row"> {{ country.A_3 }}</td>
        <td scope="row"> {{ country.num }}</td>
        <td>
          <div>
            {% include "_form_delete.html" %}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}