{% extends "main_page.html" %}
{% block MAIN_PAGE %}

{% include "form_worktime.html" %}

<br>
<h2>All worktimes ranges:</h2>

<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col"> ID/PK </th>
      <th scope="col"> Country </th>
      <th scope="col"> Description </th>
      <th scope="col"> Work time </th>
      <th scope="col"> Break time </th>
      <th scope="col"> Link </th>
    </tr>
  </thead>

  <tbody>
    {% for w in worktimes %}
    <tr>
      <th scope="row"> {{ w.id }} </th>
      <td scope="row"> {{ w.country }} </td>
      <td scope="row"> {{ w.description }} </td>
      <td scope="row"> {{ w.workTime_iso }}</td>
      <td scope="row"> {{ w.breakTime_iso }}</td>
      <td scope="col">
        <a href="{% url 'worktime_modify' w.pk %}"> <button>change</button> </a>
        <a href="{% url 'worktime_delete' w.pk %}"> <button>delete</button> </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}