{% extends "main_page.html" %}
{% block MAIN_PAGE %}

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Number</th>
        <th scope="col">Description</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{vorgang.id}}</th>
        <td>{{vorgang.number}}</td>
        <td>{{vorgang.description}}</td>
        <td>
          <div>
            {% include "form_vorgang.html" %}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}