<div class="container text-center">
  <div class="row align-items-center">

    <form method="get" name="filter_date">

      <div class="col">
        <label for="id_year"> Year: </label>
        <input type="number" name="year" id="id_year" placeholder="year">
      </div>

      <div class="col">
        <label for="id_month"> Month: </label>
        <input type="number" name="month" id="id_month" placeholder="month">
      </div>

      <div class="col">
        <label for="id_numweek">Month week number: </label>
        <select name="numweeks" id="id_numweek">
          <option value="W0"> </option>
          <option value="W1"> week 1 </option>
          <option value="W2"> week 2 </option>
          <option value="W3"> week 3 </option>
          <option value="W4"> week 4 </option>
        </select>
      </div>

      <div class="col">
        <button type="submit"> Filter </button>
      </div>

    </form>

  </div>
</div>