<div>
  <form method="get" name="filter_date">
    <table class="table table-striped">

      <thead>
        <tr>
          <th scope="col"> Select: </th>
          <th scope="col"> Year </th>
          <th scope="col"> Month </th>
          <th scope="col"> Number of week </th>
          <th scope="col"> Submit </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row"> lp </th>
          <th scope="row">
            <input type="number" name="year" id="id_year" placeholder="year">
          </th>
          <th scope="row">
            <input type="number" name="month" id="id_month" placeholder="month">
          </th>

          <th scope="row">
            <input type="number" name="numweek" id="id_numweek" placeholder="numweek">
          </th>

          <th scope="row">
            <button type="submit"> Submit </button>
          </th>
        </tr>
      </tbody>

    </table>
  </form>
</div>