<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Informations
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'mails_overview' %}">Emails overview</a></li>
        <li><a class="dropdown-item" href="{% url 'countries_overview' %}">Countries</a></li>
        <li><a class="dropdown-item" href="{% url 'worktimes_overview' %}">Work time</a></li>
    </ul>
</li>