<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Topics
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'machines_overview' %}">Project and Machines</a></li>
    <li><a class="dropdown-item" href="{% url 'netzplanvorgang_overview' %}">Netzplan/Vorgang</a></li>
    <li><a class="dropdown-item"> </a></li>
    <li><a class="dropdown-item" href="{% url 'netzplan_overview' %}">Netzplan</a></li>
    <li><a class="dropdown-item" href="{% url 'vorgang_overview' %}">Vorgang</a></li>
    <li><a class="dropdown-item"> </a></li>
    <li><a class="dropdown-item" href="{% url 'project_connections' %}">Project connections</a></li>
  </ul>
</li>