{% extends "main_page.html" %}
{% block MAIN_PAGE %}

<div>
  <h3>User Connections</h3>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Users</th>
        <th scope="col">Projects</th>
      </tr>
    </thead>
    <tbody>
      {% for i in cooperations %}
      <tr>
        <th scope="row">{{i.pk}}</th>
        <td>{{i.description}}</td>
        <td>
          {% for j in i.users %}
          <ul>{{j}}</ul>
          {% endfor %}
        </td>
        <td>
          {% for j in i.projects %}
          <ul>{{j}}</ul>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}