{% extends "main_page.html" %}
{% block MAIN_PAGE %}

<div>
  <table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Travel start</th>
        <th scope="col">Travel end</th>

        <th scope="col">Work start </th>
        <th scope="col">Work end </th>

        <th scope="col">Normal time </th>

        <th scope="col">Project</th>
        <th scope="col">Netz/Vor</th>

        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">{{cd}}</th>

        <td>{{uwt.travel_start}}</td>
        <td>{{uwt.travel_end}}</td>

        <td>{{uwt.work_start}}</td>
        <td>{{uwt.work_end}}</td>

        <td>{{uwt.workimes_standard}}</td>

        <td>{{uwt.project_machine}}</td>
        <td>{{uwt.netzplan_vorgang}}</td>

        <td>Enter/Update</td>
      </tr>

    </tbody>
  </table>

</div>

{% include "_form_user_hours.html" %}

<div>
  <a href="{% url 'xday_overview' cd=cd %}"> <button>Go back</button> </a>
</div>

{% endblock %}